@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  background-color: $bg;
  color: $white;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  border: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.head {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 10px;
  img {
    margin-right: 30px;
  }
}
.left {
  flex: 1 0 50%;
}
.right {
  flex: 1 0 50%;
}
@import "./components/page-intro.scss";
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/news.scss";
@import "./components/about-us.scss";
@import "./components/text.scss";
@import "./components/tracks.scss";
@import "./components/gallery.scss";
@import "./components/slider.scss";
@import "./components/footer.scss";
