.tracks {
  padding-top: 165px;
  padding-bottom: 90px;
  @media screen and (max-width: 1023px) {
    padding-top: 85px;
  }
  &__inner {
    display: flex;
    gap: 20px;
    @media (max-width: 1023px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    position: relative;

    img {
      display: block;
      border-radius: 50%;
      width: 434.44px;
      height: 434.44px;
      @media screen and (max-width: 600px) {
        width: 200.44px;
        height: 200.44px;
      }
    }
    &::before,
    &::after {
      content: "";
      z-index: -1;
      opacity: 0.6;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 110%;
      height: 110%;
      border-radius: 50%;
      background-color: $accent;
      transform: translate(-50%, -50%);
    }
    &::before {
      animation: pulse 1s ease infinite alternate backwards;
      width: 120%;
      height: 120%;
      opacity: 0.3;
    }
    &::after {
      animation: pulse 0.5s ease infinite alternate backwards;
    }
  }
  &__right {
  }
  &__head {
    margin-bottom: 60px;
  }
  &__list {
    margin: 50px 0;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 17px;
    transition: 0.2s ease;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .number {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      opacity: 0.5;
      width: 19px;
    }
    span {
      @media screen and (max-width: 1023px) {
        font-size: 16px;
      }
    }
    &.active {
      & span:last-child {
        color: $accent;
        font-weight: 600;
      }
    }
    &:hover:not(.active) {
      transform: translateX(10px);

      color: lighten(#7a66cc, 20);
    }
  }
  &__follow {
    display: flex;
    column-gap: 40px;
    @media screen and (max-width: 374px) {
      column-gap: 20px;
    }
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 30px;
      @media screen and (max-width: 374px) {
        column-gap: 10px;
      }
    }
    &-item {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      img {
        display: block;
      }
      column-gap: 10px;
      display: flex;
      align-items: center;
    }
  }
}
@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
